* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /* resetea el estilo de todos los elementos para que se vea igual sin importar el navegador*/

body {
  background-image: url("/static/img/background.png");
  background-attachment: fixed;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-position: center center;
  background-size: cover;
  overflow-x: none;
  margin: 0;
  padding: 0;
  font-family: inter;
}

@font-face {
  font-family: moto;
  src: url("/static/img/moto-verse.ttf");
}

@font-face {
  font-family: inter;
  src: url("/static/img/InterVariable.ttf");
}

.Centerstyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Logoestilo {
  transition: 0.3s ease-in-out;
}

.Logoestilo:hover {
  transform: scale(1.1);
}

.home {
  width: 95px;
  display: flex;
  justify-self: left;
}

.nosotros {
  text-align: center;
  font-family: moto;
  font-size: larger;
  color: #e35837;
  text-shadow: 1px 8px 15px rgb(40, 43, 44);
  position: absolute;
  top: 93%;
  left: 50%;
  text-decoration: none;
  transform: translateX(-50%);
  transition: 0.3s ease-in-out;
}

.nosotros:hover {
  transform: translateX(-50%) scale(1.2);
}

.flecha {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 40px;
  margin: 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}

.flecha:hover {
  transform: scale(1.2);
}

.flechacontenedor {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: auto;
  z-index: 9999;
  pointer-events: auto;
  display: block;
  padding-top: 100px;
  padding-left: 100px;
}
