body {
  background-image: url("/static/img/background.png");
  background-attachment: fixed;
  background-size: cover;
}

.contenedor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tablaestilo {
  text-align: center;
  padding: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 1px 5px 10px black;
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 20px;
}

table {
  width: 100%;
  margin: 5px auto;
  border-collapse: collapse;
  color: whitesmoke;
  text-shadow: 1px 1px 3px black;
  border: 2px solid whitesmoke;
  padding: 8px;
}

th,
td {
  border: 2px solid whitesmoke;
  padding: 8px;
}

a {
  display: inline-block;
  background: rgba(233, 227, 227, 0.5);
  text-decoration: none;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.titulos {
  text-align: center;
  font-family: moto;
  color: #e35837;
  text-shadow: 1px 8px 10px rgb(40, 43, 44);
  font-size: 25px;
}

.botonesregistro {
  text-align: center;
  font-family: moto;
  color: #e35837;
  text-shadow: 1px 8px 10px rgb(40, 43, 44);
  display: block;
}

.botonescancelar {
  text-align: center;
  font-family: moto;
  color: #e35837;
  text-shadow: 1px 8px 10px rgb(40, 43, 44);
  display: block;
}

.ocultar {
  display: none;
}

.boton {
  display: inline-block;
  padding: 16px 40px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  text-decoration: none;
  width: 200px;
  margin: 16px;
  text-align: center;
  font-family: moto;
  text-shadow: 1px 8px 10px rgb(40, 43, 44);
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.boton:hover {
  transform: scale(1.1);
}

.reservar {
  color: #e35837;
  background: #00cc0780;
  transition: 0.2s ease-in-out;
}

.reservar:hover {
  transform: scale(1.1);
}

.cancelar {
  color: #ca3814;
  background: #7e070780;
  transition: 0.2s ease-in-out;
}

.cancelar:hover {
  transform: scale(1.1);
}

.limpiar {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 60px;
  margin-left: 50px;
  text-align: center;
  width: 180px;
  padding: 20px;
  background: none;
  backdrop-filter: blur(10px);
  box-shadow: 1px 5px 10px black;
  display: flex;
  font-family: moto;
  border-radius: 20px;
  border: 1px solid whitesmoke;
  transition: ease-in-out 0.2s;
}

.limpiar:hover {
  transform: scale(1.1);
}
