<!DOCTYPE html>
<html lang="en">
<head>

     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Tercer Tiempo</title>
    <link rel="icon" href="Icono.png" type="image">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'icono.png')}}">
    

<body>
    
    
    <header>
    </header>


    {% block content%}
    {% endblock %}
    
   
    
</body>
</html>