{% extends "base.html" %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/registrosP.css')}}"
    />
  </head>
  <body>
    <div class="flechacontenedor">
      <a class="Centerstyle" href="{{url_for('turnos_padle')}}"
        ><img
          class="flecha"
          src="{{ url_for('static', filename= 'img/flecha.png')}}"
          alt="logo"
      /></a>
    </div>

    <h1 class="titulos">REGISTRO</h1>
    <br />

    <div class="cajainput">
      <form onsubmit="guardardatos2(); return false;">
        <h3>Por favor, complete los siguientes campos:</h3>
        <br />

        <h3>DATOS</h3>

        <label>Nombre y Apellido</label><br /><br />
        <input type="text" id="nombreinput" required /><br /><br />

        <label>Numero de telefono</label><br /><br />
        <input
          type="text"
          required
          minlength="13"
          maxlength="13"
          pattern="\d{13}"
        /><br /><br />

        <label>Correo electronico</label><br /><br />
        <input type="email" required /><br /><br />

        <p>EL PAGO SE REALIZARA EN EFECTIVO</p>

        <br /><br />

        <button type="submit">PAGAR</button>
      </form>
    </div>

    <script>
      function guardardatos2() {
        localStorage.setItem(
          "nombrereserva2",
          document.getElementById("nombreinput").value
        );
        localStorage.setItem("estadoreserva", "No Disponible");

        window.location.href = "{{url_for('turnos_padle')}}";
      }
    </script>
  </body>
</html>

{% endblock %}
