{% extends "base.html" %} {% block title %}Reservar Turno - El Tercer Tiempo{%
endblock %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/registros.css')}}"
    />
  </head>
  <body class="fondopadel">
    <div class="flechacontenedor">
      <a class="Centerstyle" href="{{url_for('turnos_padle')}}"
        ><img
          class="flecha"
          src="{{ url_for('static', filename= 'img/flecha.png')}}"
          alt="logo"
      /></a>
    </div>

    <div class="cajainput">
       <h1 class="titulos">REGISTRO</h1>
       <br />

      <form onsubmit="guardardatos2(); return false;">
        <h3 class="textoregistro">Por favor, complete los siguientes campos:</h3>
        <br />
        <br />

        <label>Nombre y Apellido</label><br /><br />
        <input
          type="text"
          pattern="[A-Za-z ]+"
          title="Solo se permiten letras"
          id="2nombreinput"
          required
        /><br /><br />

        <label>Numero de telefono</label><br /><br />
        <input
          type="text"
          required
          minlength="13"
          maxlength="13"
          pattern="\d{13}"
          title="El numero debe contener 13 digitos, solo caracteres numericos y no contar con espacios"
        /><br /><br />

        <label>Correo electronico</label><br /><br />
        <input type="email" required /><br /><br />

        <br /><br />

        <p class="textoregistro">EL PAGO SE REALIZARA EN EFECTIVO</p>

        <br /><br />

        <button type="submit">RESERVAR</button>
      </form>
    </div>

    <script>
      const params = new URLSearchParams(window.location.search);
      const fila = params.get("fila");

      function guardardatos2() {
        localStorage.setItem(
          "2nombrereserva" + fila,
          document.getElementById("2nombreinput").value
        );

        localStorage.setItem("2estadoreserva" + fila, "No Disponible");

        window.location.href = "{{url_for('turnos_padle')}}";
      }
    </script>
  </body>
</html>

{% endblock %}
