{% extends "base.html" %} 
{% block title %}Sobre Nosotros - El Tercer Tiempo{% endblock %}

{% block content %}

<div class="flechacontenedor">
  <a class="Centerstyle" href="{{url_for('pantalla_inicio')}}"
    ><img
      class="flecha"
      src="{{ url_for('static', filename= 'img/flecha.png')}}"
      alt="logo"
  /></a>
</div>

<h2>EL TERCER TIEMPO</h2>
<p>
  En las afueras de la ciudad de Olavarria, donde antes solo había un terreno
  baldío y algunos árboles de eucalipto y robles, hoy se levanta uno de los
  lugares más queridos por deportistas y familias: “El Tercer Tiem po”, un
  complejo deportivo que se ha convertido en punto de encuentro, diversión y
  amistad.
</p>
La historia comenzó en 2017, cuando tres amigos de toda la vida Marcos, Lucía y
Carlitos, decidieron que ya era hora de cumplir un sueño que venían postergando
desde la secundaria, que era crear un espacio donde la gente pudiera disfrutar
del deporte, pero también del compañerismo que nace antes y después de cada
partido.
<p>
  “Queremos un lugar donde el fútbol y el pádel sean solo la excusa para
  compartir un asado o una charla entre amigos”, decía Marcos en la reunión
  donde nació el nombre “El Tercer Tiempo”, inspirado en esa costumbre deportiva
  que celebra la unión más allá del resultado. Con mucho esfuerzo, consiguieron
  un préstamo, limpiaron el terreno y en apenas seis meses levantaron las
  primeras dos canchas de fútbol 5 y una cancha de pádel. Al principio todo era
  muy casero, el bar era un contenedor adaptado, las luces apenas alcanzaban, y
  las gradas eran tablones viejos. Pero lo que sobraba era entusiasmo. El
  complejo fue creciendo gracias al boca en boca. En 2019 inauguraron una
  segunda cancha de pádel. La gente ya no iba solo a jugar sino que también se
  quedaban a ver partidos, tomar y comer algo en el quincho o participar en los
  torneos nocturnos que se volvieron famosos en toda la zona o fiestas que a
  veces se organizaban en el lugar prestando el predio o alquilándolo. Cuando
  llegó la pandemia, el complejo tuvo que cerrar unos meses, pero los socios
  fundadores aprovecharon el tiempo para remodelar y agregar una pequeña terraza
  con vista a las canchas. Ese espacio se volvió el corazón de “El Tercer
  Tiempo”, ahí se celebran cumpleaños, finales de campeonato y hasta algún que
  otro casamiento de parejas que se conocieron jugando al pádel o futbol. Hoy,
  “El Tercer Tiempo” cuenta con cuatro canchas, dos de fútbol y dos de pádel, un
  restó-bar con menú casero y una comunidad que crece cada día. Más que un
  complejo deportivo, es un lugar donde las historias se cruzan entre goles,
  pelotazos, partidos y risas. Porque al final, como dice el cartel en la
  entrada, “En El Tercer Tiempo, lo importante no es ganar... es quedarse un
  rato más y compartir.”
</p>

{% endblock %}
