{% extends "base.html" %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabla</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/turnos.css')}}"
    />
  </head>
  <body>
    <div class="contenedor">
      <div class="tablaestilo">
        <h3 class="titulos">FUTBOL</h3>
        <table>
          <tr>
            <td>Nombre</td>
            <td>Estado</td>
            <td>Hora</td>
          </tr>
          <tr>
            <th id="nombre1"></th>
            <th id="estado1"></th>
            <th>18:00</th>
            <th>
              <a
                class="botonesregistro"
                href="{{ url_for('registrar_turnos', fila=1) }}"
                >RESERVAR</a
              >
            </th>
          </tr>
          <tr>
            <th id="nombre2"></th>
            <th id="estado2"></th>
            <th>19:00</th>
            <th>
              <a
                class="botonesregistro"
                href="{{ url_for('registrar_turnos', fila=2) }}"
                >RESERVAR</a
              >
            </th>
          </tr>

          <tr>
            <th id="nombre3"></th>
            <th id="estado3"></th>
            <th>20:00</th>
            <th>
              <a
                class="botonesregistro"
                href="{{ url_for('registrar_turnos', fila=3) }}"
                >RESERVAR</a
              >
            </th>
          </tr>

          <tr>
            <th id="nombre4"></th>
            <th id="estado4"></th>
            <th>21:00</th>
            <th>
              <a
                class="botonesregistro"
                href="{{ url_for('registrar_turnos', fila=4) }}"
                >RESERVAR</a
              >
            </th>
          </tr>

          <tr>
            <th id="nombre5"></th>
            <th id="nombre5"></th>
            <th>22:00</th>
            <th>
              <a
                class="botonesregistro"
                href="{{ url_for('registrar_turnos', fila=5) }}"
                >RESERVAR</a
              >
            </th>
          </tr>
        </table>
      </div>
    </div>

    <button class="boton" type="button" onclick="borrardatos()">
      Limpiar tabla
    </button>

    <script>
      for (let i = 1; i <= 5; i++) {
        document.getElementById("nombre" + i).textContent =
          localStorage.getItem("nombrereserva" + i) || "";
        document.getElementById("estado" + i).textContent =
          localStorage.getItem("estadoreserva" + i) || "";
      }
    </script>

    <script>
      function borrardatos() {
        localStorage.clear();

        window.location.href = "{{url_for('turnos_disponibles')}}";
      }
    </script>
  </body>
</html>

{% endblock %}
