{% extends "base.html" %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabla</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/turnos.css')}}"
    />
  </head>
  <body>
    <div class="flechacontenedor">
      <a class="Centerstyle" href="{{url_for('eleccion_deporte')}}"
        ><img
          class="flecha"
          src="{{ url_for('static', filename= 'img/flecha.png')}}"
          alt="logo"
      /></a>
    </div>

    <div class="contenedor">
      <div class="tablaestilo">
        <h3 class="titulos">PADLE</h3>
        <table>
          <tr>
            <td>Nombre</td>
            <td>Estado</td>
            <td>Hora</td>
          </tr>
          <tr>
            <th id="nombre6"></th>
            <th id="estado6"></th>
            <th>18:00</th>
            <th>
              <a
                class="botonesregistro"
                href="{{ url_for('registrar_padle', fila=6) }}"
                >RESERVAR</a
              >
            </th>
            <th>
              <button class="botonescancelar" onclick="borrarFila(6)">
                CANCELAR
              </button>
            </th>
          </tr>
          <tr>
            <th id="nombre7"></th>
            <th id="estado7"></th>
            <th>19:00</th>
            <th>
              <a
                class="botonesregistro"
                href="{{ url_for('registrar_padle', fila=7) }}"
                >RESERVAR</a
              >
            </th>
            <th>
              <button class="botonescancelar" onclick="borrarFila(7)">
                CANCELAR
              </button>
            </th>
          </tr>

          <tr>
            <th id="nombre8"></th>
            <th id="estado8"></th>
            <th>20:00</th>
            <th>
              <a
                class="botonesregistro"
                href="{{ url_for('registrar_padle', fila=8) }}"
                >RESERVAR</a
              >
            </th>
            <th>
              <button class="botonescancelar" onclick="borrarFila(8)">
                CANCELAR
              </button>
            </th>
          </tr>

          <tr>
            <th id="nombre9"></th>
            <th id="estado9"></th>
            <th>21:00</th>
            <th>
              <a
                class="botonesregistro"
                href="{{ url_for('registrar_padle', fila=9) }}"
                >RESERVAR</a
              >
            </th>
            <th>
              <button class="botonescancelar" onclick="borrarFila(9)">
                CANCELAR
              </button>
            </th>
          </tr>

          <tr>
            <th id="nombre10"></th>
            <th id="estado10"></th>
            <th>22:00</th>
            <th>
              <a
                class="botonesregistro"
                href="{{ url_for('registrar_padle', fila=10) }}"
                >RESERVAR</a
              >
            </th>
            <th>
              <button class="botonescancelar" onclick="borrarFila(10)">
                CANCELAR
              </button>
            </th>
          </tr>
        </table>
      </div>
    </div>

    <button class="boton" type="button" onclick="borrardatos()">
      Limpiar tabla
    </button>

    <script>
      for (let i = 6; i <= 10; i++) {
        document.getElementById("nombre" + i).textContent =
          localStorage.getItem("nombrereserva" + i) || "";
        document.getElementById("estado" + i).textContent =
          localStorage.getItem("estadoreserva" + i) || "disponible";
      }
    </script>

    <script>
      document.getElementById("nombre" + i);
    </script>

    <script>
      function borrarFila(fila) {
        localStorage.removeItem("nombrereserva" + fila);
        localStorage.removeItem("estadoreserva" + fila);

        location.reload();
      }
    </script>

    <script>
      function borrardatos() {
        localStorage.clear();

        window.location.href = "{{url_for('turnos_padle')}}";
      }
    </script>
  </body>
</html>

{% endblock %}
