{% extends "base.html" %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabla</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/turnos.css')}}"
    />
  </head>
  <body>
    <div class="contenedor">
      <div class="tablaestilo">
        <h3 class="titulos">FUTBOL</h3>
        <table>
          <tr>
            <td>Nombre</td>
            <td>Estado</td>
            <td>Hora</td>
          </tr>
          <tr>
            <th id="nombre"></th>
            <th id="estado"></th>
            <th>18:00</th>
          </tr>

          <tr>
            <th>JUAN</th>
            <th>No Disponible</th>
            <th>19:00</th>
          </tr>

          <tr>
            <th>JEREMIAS</th>
            <th>No Disponible</th>
            <th>20:00</th>
          </tr>

          <tr>
            <th>ALEJANDRO</th>
            <th>No Disponible</th>
            <th>21:00</th>
          </tr>

          <tr>
            <th>PABLO</th>
            <th>No Disponible</th>
            <th>22:00</th>
          </tr>
        </table>

        <a class="titulos" href="{{url_for('registrar_turnos')}}">RESERVAR</a>
      </div>

      <div class="tablaestilo">
        <h3 class="titulos">PADLE</h3>
        <table>
          <tr>
            <td>Nombre</td>
            <td>Estado</td>
            <td>Hora</td>
          </tr>
          <tr>
            <th id="nombre2"></th>
            <th id="estado2"></th>
            <th>18:00</th>
          </tr>

          <tr>
            <th>AGUSTIN</th>
            <th>No Disponible</th>
            <th>19:00</th>
          </tr>

          <tr>
            <th>EMILIANO</th>
            <th>No Disponible</th>
            <th>20:00</th>
          </tr>

          <tr>
            <th>ALEJANDRO</th>
            <th>No Disponible</th>
            <th>21:00</th>
          </tr>

          <tr>
            <th>LUIS</th>
            <th>No Disponible</th>
            <th>22:00</th>
          </tr>
        </table>

        <a class="titulos" href="{{url_for('turnos_disponibles2')}}"
          >RESERVAR</a
        >
      </div>
    </div>

    <button class="boton" type="button" onclick="borrardatos()">
      Limpiar tabla
    </button>

    <script>
      const nombreregistrado = localStorage.getItem("nombrereserva");
      const disponibilidad = localStorage.getItem("estadoreserva");

      if (nombreregistrado)
        document.getElementById("nombre").textContent = nombreregistrado;
      if (disponibilidad)
        document.getElementById("estado").textContent = disponibilidad;
    </script>

    <script>
      const nombreregistrado2 = localStorage.getItem("nombrereserva2");
      const disponibilidad2 = localStorage.getItem("estadoreserva2");

      if (nombreregistrado2)
        document.getElementById("nombre2").textContent = nombreregistrado2;
      if (disponibilidad2)
        document.getElementById("estado2").textContent = disponibilidad2;
    </script>

    <script>
      function borrardatos() {
        localStorage.clear();
        ("Datos eliminados correctamente");

        window.location.href = "{{url_for('turnos_disponibles')}}";
      }
    </script>
  </body>
</html>

{% endblock %}
