{% extends "base.html" %} {% block title %}Reservas - El Tercer Tiempo{%
endblock %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabla</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/turnos.css')}}"
    />
  </head>
  <body>
    <div class="flechacontenedor">
      <a class="Centerstyle" href="{{url_for('eleccion_deporte')}}"
        ><img
          class="flecha"
          src="{{ url_for('static', filename= 'img/flecha.png')}}"
          alt="logo"
      /></a>
    </div>

    <div class="contenedor">
      <div class="tablaestilo">
        <h3 class="titulos">FÚTBOL</h3>
        <table>
          <tr>
            <td>Nombre</td>
            <td>Estado</td>
            <td>Hora</td>
          </tr>
          <tr>
            <th id="nombre1"></th>
            <th id="estado1"></th>
            <th>18:00</th>
            <th id="reservar1">
              <a
                class="boton reservar"
                href="{{ url_for('registrar_futbol', fila=1) }}"
                >RESERVAR</a
              >
            </th>
            <th id="cancelar1">
              <a class="boton cancelar" onclick="borrarFila(1)"> CANCELAR </a>
            </th>
          </tr>
          <tr>
            <th id="nombre2"></th>
            <th id="estado2"></th>
            <th>19:00</th>
            <th id="reservar2">
              <a
                class="boton reservar"
                href="{{ url_for('registrar_futbol', fila=2) }}"
                >RESERVAR</a
              >
            </th>
            <th id="cancelar2">
              <a class="boton cancelar" onclick="borrarFila(2)"> CANCELAR </a>
            </th>
          </tr>

          <tr>
            <th id="nombre3"></th>
            <th id="estado3"></th>
            <th>20:00</th>
            <th id="reservar3">
              <a
                class="boton reservar"
                href="{{ url_for('registrar_futbol', fila=3) }}"
                >RESERVAR</a
              >
            </th>
            <th id="cancelar3">
              <a class="boton cancelar" onclick="borrarFila(3)"> CANCELAR </a>
            </th>
          </tr>

          <tr>
            <th id="nombre4"></th>
            <th id="estado4"></th>
            <th>21:00</th>
            <th id="reservar4">
              <a
                class="boton reservar"
                href="{{ url_for('registrar_futbol', fila=4) }}"
                >RESERVAR</a
              >
            </th>
            <th id="cancelar4">
              <a class="boton cancelar" onclick="borrarFila(4)"> CANCELAR </a>
            </th>
          </tr>

          <tr>
            <th id="nombre5"></th>
            <th id="estado5"></th>
            <th>22:00</th>
            <th id="reservar5">
              <a
                class="boton reservar"
                href="{{ url_for('registrar_futbol', fila=5) }}"
                >RESERVAR</a
              >
            </th>
            <th id="cancelar5">
              <a class="boton cancelar" onclick="borrarFila(5)">CANCELAR</a>
            </th>
          </tr>
        </table>
      </div>
    </div>

    <button class="limpiar" type="button" onclick="borrardatos()">
      Limpiar tabla
    </button>

    <script>
      for (let i = 1; i <= 5; i++) {
        document.getElementById("nombre" + i).textContent =
          localStorage.getItem("nombrereserva" + i) || "";
        document.getElementById("estado" + i).textContent =
          localStorage.getItem("estadoreserva" + i) || "Disponible";

        let estadoreserva = localStorage.getItem("estadoreserva" + i);

        if (estadoreserva === "No Disponible") {
          document.getElementById("reservar" + i).classList.add("ocultar");
        } else {
          document.getElementById("cancelar" + i).classList.add("ocultar");
        }
      }
    </script>

    <script>
      function borrarFila(fila) {
        localStorage.removeItem("nombrereserva" + fila);
        localStorage.removeItem("estadoreserva" + fila);

        location.reload();
      }
    </script>

    <script>
        function borrardatos() {
        for (let i = 1; i <= 5; i++){
          localStorage.removeItem("nombrereserva" + i);
          localStorage.removeItem("estadoreserva" + i);
        }

        window.location.href = "{{url_for('turnos_disponibles')}}";
      }
    </script>
  </body>
</html>

{% endblock %}
